.our-services {
  .card:before,
  .card:after {
    content: "";
    position: absolute;
    height: 0;
    width: 5px;
    background-color: var(--btn-clr);
    transition: 1s ease-in-out;
  }

  .card:before {
    left: 0;
    top: 0;
  }
  .card:after {
    right: 0;
    bottom: 0;
  }
  .card:hover {
    color: var(--light-fg-clr);
    background-color: var(--main-fg-clr);
  }
  .card:hover h3 {
    color: var(--btn-clr);
  }

  .card:hover:before {
    height: 100%;
  }

  .card:hover:after {
    height: 100%;
  }

  .card:hover img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}
