.platform .main-text {
  color: var(--btn-clr);
}

.platform-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 50px;
  justify-content: center;
}
.platform-grid img {
  margin: auto;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s ease-in-out;
}
.platform-grid img:hover {
  margin: auto;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
