/* ==== Start FAQ Accordion ==== */

.faq {
  background-color: var(--second-fg-clr);
}

.faq .main-text {
  color: #fff;
}

.accordion {
  width: 35vw;
  margin: 0 auto;
}

@media screen and (max-width: 567px) {
  .accordion {
    width: 80vw;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
}
@media screen and (min-width: 568px) and (max-width: 991px) {
  .accordion {
    width: 60vw;
  }
}
.accordion-item {
  border-radius: 5px;
  background-color: #fdfdfd;
  margin-bottom: 20px;
  padding: 10px;
  svg {
    font-size: 25px;
  }
  h2 {
    font-weight: 600;
  }
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  border: 3px solid transparent;
}

.accordion-header.show {
  color: var(--btn-clr);
  border: 3px solid var(--btn-clr);
  font-weight: 600;
}

.accordion-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-row 0.3s ease-in-out;

  &.active {
    grid-template-rows: 1fr;
  }
}

article p {
  overflow: hidden;
  line-height: 1.6;
  padding: 0 20px;
  color: #646464;
}
