.hero {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.main-pic {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 550px;
}

.main-pic img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.menu-toggle {
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  font-size: 36px;
  transition: 0.1s ease-in-out;
  z-index: 1001;
  cursor: pointer;
}

.hero-text {
  z-index: 9;
  position: absolute;
  padding: 10px 20px;
}

.hero-text {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.sidebar-overlay-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: block;
}
.sidebar-overlay-layer.active {
  display: block;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
}

.hero-text h2 {
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 0 10px;
}
.hero-text p:first-of-type {
  margin: 0;
  font-size: 22px;
}
.hero-text p {
  line-height: 1.8;
}
.hero-text span {
  font-size: 23px;
  font-weight: 900;
}

.hero-text a {
  width: 120px;
  transition: 0.5s ease-in-out;
}

.hero-text a:hover {
  opacity: 0.8;
}

.social-icons {
  position: relative;
  width: 25%;
  bottom: 15px;
  left: 0;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  svg {
    font-size: 28px;
    margin-top: 25px;
    transition: 0.5s ease-in-out;
    &:hover {
      color: #333;
    }
  }
}

/* sidebar */

// .sidebar ul {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .sidebar ul li {
//   margin: 10px;
//   list-style-type: none;
// }

// .sidebar ul li a {
//   color: var(--light-fg-clr);

//   // letter-spacing: 2px;
// }

.sidebar ul li a.active {
  color: var(--btn-clr);
}

/* responsive */
@media screen and (min-width: 992px) {
  .hero-text {
    width: calc(100% - 550px);
  }

  // .sidebar {
  //   width: calc(100% - 550px);
  // }
  .hero-text {
    text-align: left;
    padding: 50px;
    p {
      width: 70%;
    }
  }
}

@media screen and (max-width: 991px) {
  .main-pic {
    display: none;
  }

  .hero-text a {
    margin: 30px auto;
  }
  .about-us img {
    margin-top: 25px;
  }
  .social-icons {
    left: 40%;
  }
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  input {
    width: 96%;
  }
}
