footer {
  background-color: var(--second-fg-clr);
}

footer p {
  font-size: 12px;
  color: var(--light-fg-clr);
}
/* scroll to top button */

/* padding: 5px;
text-align: center;
text-transform: capitalize; */
