@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* my styles */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-fg-clr: #1b1b1b;
  --light-fg-clr: #bebaba;
  --second-fg-clr: #333;
  --main-bg-clr: #fff;
  --btn-clr: #00bcd4;
}
@media screen and (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  input {
    width: 96%;
  }
}

@media screen and (max-width: 678px) {
  .main-text {
    width: 90%;
  }
}

.btn {
  color: #fff;
  background-color: var(--btn-clr);
  border: transparent;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.main-heading {
  font-size: 24px;
  font-weight: 700;
}
/* global rules */

.vid .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 560px;
  height: 315px;
  border: 0;
}



  .page-container {
    @apply px-3 lg:px-24 md:px-12;
  }


    .accordion-body.active {
        grid-template-rows: 1fr;
      }
    

  .menu-toggle {
              background-size: 30px;
              background-position: center;
              background-repeat: no-repeat;
              top: 30px;
              right: 30px;
              width: 50px;
              height: 50px;
              font-size: 36px;
              transition: 0.1s ease-in-out;
              z-index: 1001;
              cursor: pointer;
            }